<div id="sidebar" role="complementary">
<ul id="sub-pages">
<li><a href="{{ site.baseurl }}/about/index.html">About</a></li>
<li><a href="{{ site.baseurl }}/about/benefits/">Benefits</a></li>
<li><a href="{{ site.baseurl }}/about/corporate-chaplaincy-the-missing-link-in-business.pdf">Corporate Chaplaincy: The Missing Link in Business</a></li>
<li><a href="{{ site.baseurl }}/about/the-business-case-for-a-chaplain-assistance-program.pdf">The Business Case for a Chaplain Assistance Program</a></li>
<li><a href="{{ site.baseurl }}/about/what-in-the-world-is-corporate-chaplaincy-and-why-should-i-care.pdf">What in the World is Corporate Chaplaincy and Why Should I Care?</a></li>
<li><a href="{{ site.baseurl }}/about/values/">Values</a></li><li><a href="restrictions/">Restrictions</a></li><li><a href="blog/">Blog</a></li>
</ul></div>
